@charset "UTF-8";
*{
 
}
header{
    padding-top: 20px;
    margin: -10px -10px -15px -10px;
    background-color: lightpink;

}
h1{
    text-align: center;
}
menu{
    height: 20px;
    background-color: rgb(197, 108, 108);
    padding-top: 10px;
    padding-left: 10vw;
    padding-bottom: 10px;
}
menu > a{
    background-color: rgb(172, 92, 92);
    color: white;
    margin: 5px;
    padding: 5px;

}

main{
    background-color: lightcoral;
    max-width: 600px;
    min-width: 300px;
    margin: 20px;
    padding: 10px;
    display: block;
    margin: auto;
}
